[submodule "core-microservice"]
	path = core-microservice
	url = git@github.com:NBISweden/LEGA-core-microservice.git
	branch = 0.1.x
[submodule "common-jpa"]
	path = common-jpa
	url = git@github.com:NBISweden/LEGA-common-jpa.git
	branch = 0.1.x
[submodule "common-mongo"]
	path = common-mongo
	url = git@github.com:NBISweden/LEGA-common-mongo.git
	branch = 0.1.x
[submodule "common-messaging"]
	path = common-messaging
	url = git@github.com:NBISweden/LEGA-common-messaging.git
	branch = 0.1.x
[submodule "config-microservice"]
	path = config-microservice
	url = git@github.com:NBISweden/LEGA-config-microservice.git
	branch = 0.1.x
[submodule "session-microservice"]
	path = session-microservice
	url = git@github.com:NBISweden/LEGA-session-microservice.git
	branch = 0.1.x
[submodule "worker-microservice"]
	path = worker-microservice
	url = git@github.com:NBISweden/LEGA-worker-microservice.git
	branch = 0.1.x
[submodule "swagger-documentation-constants"]
	path = swagger-documentation-constants
	url = git@github.com:NBISweden/LEGA-swagger-documentation-constants.git
	branch = 0.0.1
[submodule "simple-microservice"]
	path = simple-microservice
	url = git@github.com:NBISweden/LEGA-simple-microservice.git
[submodule "another-simplemicroservice"]
	path = another-simplemicroservice
	url = git@github.com:NBISweden/LEGA-another-simplemicroservice.git
